@use "../global/global" as *;
@use "sass:color";

html::-webkit-scrollbar {
    //画面のグラつき、めり込む問題解消
    display: none;
  }
body{
    background-color: $mc;
    color:$white;
    min-height: 100vh;
    //画面のグラつき、めり込む問題解消
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a{
    text-decoration: none;
}
.container-fluid{
    max-width: 100%;
}

h2{
    @include gotham;
    @include fs(30);
    text-align: center;
    padding: 16px;
    color: $white;
}

h3{
    font-weight: bold;
    padding: 8px;
    padding-left: 0;
    color: $white;
}

h4{
    @include fs(20);
    font-weight: bold;
    text-align: center;
}

.time-stamp{
    margin-bottom: 4px;
    @include flex();
    justify-content: flex-start;
    &::before{
        @include fa("\f017");
        margin-right: 4px;
        font-weight: 400;
    }
}

.home {
    position: relative;
    &__wrap{
        .area {
        position: fixed;
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        @include flex();
    
        .image {
            @include flex();
            transform: translateY(20px);
            opacity: 0;
            animation: fadeUp 2s ease forwards;
            position: relative;
            @keyframes fadeUp {
            0% {
                transform: translateY(20px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
            }
            img {
            max-width: 50%;
            width: 100%;
            }
        }//image
                /* スクロールダウンの位置 */
            .scroll {
                position: absolute;
                right: 50%;
                bottom:120px;
                writing-mode: vertical-rl;
            }
            /* 線のアニメーション部分 */
            .scroll::before {
                animation: scroll 2s infinite;
                background-color: white;
                bottom: -80px;
                content: "";
                height: 100px;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                width: 1px;
                animation-delay: 3s;
                animation-fill-mode: backwards;
            }
            /* 線のアニメーション */
            @keyframes scroll {
                0% {
                transform: scale(1, 0);
                transform-origin: 0 0;
                }
                50% {
                transform: scale(1, 1);
                transform-origin: 0 0;
                }
                51% {
                transform: scale(1, 1);
                transform-origin: 0 100%;
                }
                100% {
                transform: scale(1, 0);
                transform-origin: 0 100%;
                }
            }
        }
    }
    .post-list-home{
        margin-top: 100vh;
        min-height: 100vh;
        background-color: $mc;
        position: relative;
        box-shadow: 0px 0px 15px -5px #ffffff;
    }
  }
  


.grid{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 4px;
    .box{
        position: relative;
        height: auto;
        aspect-ratio: 16/8;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block; /* ブラウザによっては img が隙間を作るのを防ぐ */
        }
        .title{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0px 4px;
            height: 50%;
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.8) 60%);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &__wrap{
                h3{
                    @include fs(12);
                    padding: 0;
                    color: white;
                }
                .donate-stamp{
                    color: $white;
                    font-weight: bold;
                }
                .time-stamp{
                    
                }
            }
        }
    }
}//grid-dashboar

.success{
    min-height: 100vh;
    width: 100%;
    @include flex();
    .area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        p{
            text-align: center;
            line-height: 2;
        }
    }
}


.tag-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    span{
        @include flex();
        @include fs(10);
        cursor: pointer;
        &::before{
            content:'#';
            margin-right: 2px;
        }
    }
}


.setting{
    .pw-reset{
        flex:1;
    }
}