@use "../global/global" as *;
@use "sass:color";

body{
    background-color: $sgray;
}

a{
    text-decoration: none;
}

h2{
    @include gotham;
    @include fs(30);
    text-align: center;
    padding: 16px;
}

h3{
    font-weight: bold;
    padding: 16px;
    padding-left: 0;
}

h4{
    @include fs(20);
    font-weight: bold;
    text-align: center;
}

.home{
    .area{
        min-height: 100vh;
        height: 100%;
        @include flex();
        flex-direction: column;
        gap: 80px;
        @include gotham;
        @include fs(30);
        a{
            text-decoration: none;
        }
    }
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    img{
        aspect-ratio: 16/9;
        object-fit: cover;
        width: 100%;
    }
    @include sp{
        grid-template-columns: repeat(2,1fr);
    }
}

.detail{
    background-color: $gray;
    padding: 16px 0px;
    padding-bottom: 80px;
    &__wrap{
        .area{
            height: 95vh;
            width: 100%;
            overflow-x: scroll;
            display: flex;
            align-items: flex-start;
            flex-direction: row-reverse;
            background-color: white;
            padding: 40px;
            h1{
                @include fs(20);
                font-weight: bold;
                display: block;
                writing-mode: vertical-rl;
                text-orientation: upright;
            }
            .contents{
                writing-mode: vertical-rl;
                text-orientation: upright;
                line-height: 2;
                text-align: justify;
                column-count: 1;
                white-space: pre-line;//今だけ
                padding-left: 50%;
            }
        }
    }//__wrap
    .thumbnail{
        padding: 16px 0px;
    }
    .share{
        .wrap{
            @include flex();
            gap: 16px;
            i{
                @include fs(30);
            }
        }
    }
}


.success{
    min-height: 100vh;
    width: 100%;
    @include flex();
    .area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        p{
            text-align: center;
            line-height: 2;
        }
    }
}