@use "sass:math";
@use "../global/global" as *;
@use "sass:color";

.footer-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s, transform 0.3s;
    &.visible{
        opacity: 1;
        transform: translateY(0);
    }

    /* オーバーレイ */
    .overlay {
        position: relative;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        display: none;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 9; 
        width: 100vw;
        height: 100vh;
        &.show {
            opacity:1;
            display: block;
        }
    }

    /* メニューボタン */
    .menu-button {
        position: fixed;
        bottom: 24px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 64px;
        height: 64px;
        background: rgba($color: white, $alpha: 0.9);
        border-radius: 50%;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        img{
            object-fit: contain;
            width: 50px;
            transform: translate(0%, -10%) rotate(0);
            transition: transform 0.3s;
            &.rotate {
                transform: translate(0%, -10%) rotate(360deg);
            }
        }
    }

// 変数を宣言
$items: 5;
$radius: 80px;
    /* メニュー */
    .menu {
        position: fixed;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        height: 64px;
        z-index: 999;
        a {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: white;
            border: none;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            transition: transform 0.3s, opacity 0.3s;
            @include flex();
            @include fs(30);
            position: absolute;
            left: 50%;
            top: 50%;
            transform:translate(-50%, -50%);
            i{
                color: $mc;
            }
        }
    }
    &.open {
      .menu {
        a {
            opacity: 1;
          @for $i from 1 through $items {
            &:nth-child(#{$i}) {
            // i=1 → 左端 (0°)
            // i=$items → 右端 (180°)
            $angle-deg: math.div(180, $items - 1) * ($i - 1); 
            // deg→rad
            $angle-rad: $angle-deg * math.div(math.$pi, 180);

            // x → cos(θ), y → -sin(θ)
            //    ↑ここでマイナスを付けると上方向がプラスになる
            $x: $radius * math.cos($angle-rad);
            $y: -($radius * math.sin($angle-rad));

            // 親中心から放射状
            transform:translate(-50%, -50%) translate(#{$x}, #{$y});
            }
          }
        }
      }
    }
}

.donate--button{
	width: 100%;
	margin: 0 auto;
	margin: 24px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	>*{
		flex:1;
	}
	input{
		width: 100%;
		background-color: $white;
		padding: 8px;
		text-align: center;
		@include gotham;
		@include fs(20);
		&::placeholder{
			text-align: center;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			@include fs(12);
			font-weight: normal;
			transform: translateY(-10%);
		}
	}
	button{
		background-color: $white;
		color: $mc;
		border: none;
		padding: 16px;
		width: 100%;
		cursor: pointer;
		@include flex();
		gap: 16px;
		transition: background-color 0.3s ease-in-out;
		&::before{
			@include fa(\e05c);
			transform: scaleX(-1);
		}
		&::after{
			@include fa(\e05c);
		}
		&:hover {
			background-color: $orange;
		}
		&:disabled {
			background-color: $gray;
			cursor: not-allowed;
		}
	}
} 


.share-button{
    @include flex();
    gap: 40px;
    @include fs(40);
    color: $white;
    .fa-twitter{
        cursor: pointer;
    }
}

.fav-button{
    button{
        .fav{
            width: 16px;
            height: 16px;
            &::before{
                @include fa("\f004");
                color: gray;
            }
            &.active{
                &::before{
                    color: rgb(233, 56, 86);
                }
            }
        }

    }
}

.search-button{
    @include fs(20);
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 999;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.3s, transform 0.3s;
    &.visible{
        opacity: 1;
        transform: translateX(0);
    }
    button{
        width: 45px;
        height: 45px;
        background-color: rgba($color: white, $alpha: 0.8);
        border-radius: 100%;
        @include flex();
    }
}

.search{
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 9; 
    width: 100vw;
    height: 100vh;
    &.visible {
        @include flex();
    }
    &__wrap{
        background: black;
        padding: 16px;
        border-radius: 8px;
        margin: auto 16px;
        @include flex();
        min-height: 50vh;
        .area{
            .text-search{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 16px;
                margin-bottom: 40px;
                input{
                    background-color: $white;
                    padding: 16px;
                    border-radius: 8px;
                }
                button{
                    background-color: white;
                    padding: 8px;
                    border-radius: 8px;
                    font-weight: bold;
                    i{
                        margin-right: 4px;
                    }
                }
            }
            .filter{
                .wrap{
                    &.tag{
                        span{
                            &::before{
                                content: '#';
                                margin-right: 2px;
                            }
                            &::after{
                                content: '|';
                                margin: auto 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}