@use "../global/global" as *;
@use "sass:color";


.dashboard{
	.username{
		position: fixed;
		left: 8px;
		top: 0;
		&__wrap{
			span{
				line-height: 1;
				@include fs(20);
				@include gotham;
				text-transform: uppercase;
				@include flex();
				justify-content: flex-start;
				gap: 8px;
				&::before{
					@include fa("\f2bd");
				}
			}
		}
	}
	.db{
		position: relative;
		.grid--dashboard{
			.box{
				.title{
					.donate-stamp{
						color: $white;
						font-weight: bold;
					}
					.time-stamp{
						
					}
				}
			}
		}//grid-dashboar
	}


}