@use "../global/global" as *;
@use "sass:color";

.posts{
    &--list{
		.search{
			margin-bottom: 40px;
			input{
				width: 100%;
				background-color: white;
				padding: 16px;
			}
		}
		.filter{
			margin-bottom: 40px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			.wrap{
				@include flex();
				gap: 16px;
				span,button{
					background-color: white;
					padding: 8px 24px;
					@include flex();
					line-height: 1;
					cursor: pointer;
					transition: background-color 0.3s ease-in-out;
				}
				.selected{
					background-color: $gray;
				}
			}
		}
        .area{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 16px;
            .box{
                .tumbnail{
                    img{
                        object-fit: cover;
                        aspect-ratio: 16/9;
                        max-width: 100%;
                    }
                }
                h3{
                    font-weight: bold;
                    padding: 16px;
                    padding-left: 0;
                }
                .tags{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 8px;
					flex-wrap: wrap;
                    span{
                        background-color: $gray;
                        padding: 8px 16px;
                        @include flex();
                        @include fs(10);
						cursor: default;
                    }
                }
            }
        }
    }
}
