@use "../global/global" as *;
@use "sass:color";

.posts{
    &--list{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding-bottom: 96px;
		padding-top: 56px;
		gap: 24px;
		.wrap{
			position: relative;
			.contents-title{
				position: absolute;
				right: 0;
				top: -32px;
				@include gotham;
				@include fs(40);
				line-height: 1;
			}
			.area{
				.box{
					.tumbnail{
						img{
							object-fit: cover;
							aspect-ratio: 16/9;
							max-width: 100%;
						}
					}
				}
			}
		}
    }
	&--search{
		header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			h2{
				padding-left: 0;
				i{
					margin-right: 8px;
				}
			}
			.search-button{
				i{
					@include fs(20);
				}
			}
		}
		.text-search{
			margin-bottom: 40px;
			input{
				width: 100%;
				background-color: white;
				padding: 16px;
			}
		}
		.filter{
			margin-bottom: 40px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			.wrap{
				@include flex();
				gap: 16px;
				flex-wrap: wrap;
				span,button{
					background-color: white;
					padding: 8px 24px;
					@include flex();
					line-height: 1;
					cursor: pointer;
					transition: background-color 0.3s ease-in-out;
				}
				.selected{
					background-color: $gray;
				}
			}
		}
	}
	&--podcast{
		.area{
			padding: 40px;
			background-color: white;
			h1{
				text-align: center;
				@include fs(20);
				font-weight: bold;
				margin-bottom: 16px;
			}
			.contents{
				iframe{
					width: 100%;
					height: auto;
					aspect-ratio: 16/9;
				}
			}
		}
	}
	&--default{
		padding: 8px 0px;
		padding-bottom: 80px;
		.wrap{
			.area{
				height: 95vh;
				width: 100%;
				overflow-x: scroll;
				display: flex;
				align-items: flex-start;
				flex-direction: row-reverse;
				background-color: white;
				padding: 40px;
				color: black;
				h1{
					@include fs(20);
					font-weight: bold;
					display: block;
					writing-mode: vertical-rl;
					text-orientation: upright;
				}
				.contents{
					&__story{
						writing-mode: vertical-rl;
						text-orientation: upright;
						line-height: 2;
						text-align: justify;
						column-count: 1;
						white-space: pre-line;//今だけ
						padding-left: 50%;
						h3{
							@include fs(20);
							margin-left: 16px;
						}
						/* 行：table-row */
						.line {
							display: table-row;
							> div {
								display: table-cell;
								vertical-align: top;
								// padding: 0.5em;
								}
							/* 役名セル（幅固定） */
							.role {
								height: 70px;
							}
							/* セリフ・ト書きセル */
							.speech {
								/* 幅指定せず自動で可変 */
							}
							&.blank {
								width: 1.5;
							}
						}
					}
				}
			}
		}//__wrap
		.thumbnail{
			padding: 16px 0px;
		}
	}
}
