@charset "UTF-8";
@import url("https://use.typekit.net/dno3cfa.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input, textarea, select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button], input[type=text], input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th, td {
  border-collapse: collapse;
}

table th, table td {
  white-space: nowrap;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: unset;
  font-weight: unset;
  line-height: unset;
}

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: unset;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  box-sizing: border-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type=reset],
input[type=button],
input[type=submit] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

/* 除算math.divを使うのに必要な記述 */
html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.4rem, 1.3346938776rem + 0.2040816327vw, 1.6rem);
}
body a {
  color: #0f0f0f;
}
body a :hover {
  transition: 0.5s;
  -webkit-transition: 0.5s; /* Chrome、Safari用 */
  -moz-transition: 0.5s; /* Firefox用 */
  -o-transition: 0.5s; /* Opera用 */
  opacity: 0.8;
}
body img {
  max-width: 100%;
  height: auto;
}
body .mincho {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}
body section {
  margin-bottom: 40px;
  /* 2番目だけ変えたい */
}
body section::before { /* アンカーズレ調整 */
  content: "";
  display: block;
  height: 100px; /* 調整したい高さ（固定ヘッダーの高さ） */
  margin-top: -100px; /* heightと同じ分のネガティブマージン */
  visibility: hidden;
}
body section:nth-of-type(2)::before {
  height: unset;
  margin-top: unset;
}

/* 非表示状態 */
.inactive {
  display: none;
  opacity: 0;
}

/* 表示状態 */
.active {
  display: block;
  opacity: 1;
}

body {
  line-height: normal;
}

body {
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "brother-1816", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
  text-align: center;
  padding: 16px;
}

h3 {
  font-weight: bold;
  padding: 8px;
  padding-left: 0;
}

h4 {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  font-weight: bold;
  text-align: center;
}

.time-stamp {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.time-stamp::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f017";
  margin-right: 4px;
  font-weight: 400;
}

.home .area {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  font-family: "brother-1816", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}
.home .area a {
  text-decoration: none;
}

.grid-default {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.grid-default .box {
  position: relative;
  height: auto;
}
.grid-default .box .thumbnail {
  display: block;
  height: auto;
}
.grid-default .box .thumbnail img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.grid-default .box .title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .grid-default {
    grid-template-columns: 1fr;
    gap: 4px;
  }
  .grid-default .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 4px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  }
  .grid-default .title h3 {
    font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
    padding: 8px;
    color: white;
  }
}

.success {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success .area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.success .area p {
  text-align: center;
  line-height: 2;
}

.footer-button {
  position: relative;
  /* オーバーレイ */
  /* メニューオープン時 */
  /* メニューボタン */
  /* メニュー */
}
.footer-button .overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.footer-button .overlay.show {
  opacity: 1;
  visibility: visible;
}
.footer-button .menu-button {
  position: fixed;
  bottom: 24px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.footer-button .menu-button img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50px;
  transform: translate(0%, -10%) rotate(0);
  transition: transform 0.3s;
}
.footer-button .menu-button img.rotate {
  transform: translate(0%, -10%) rotate(360deg);
}
.footer-button .menu {
  position: fixed;
  bottom: 24px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 64px;
  height: 64px;
}
.footer-button .menu a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transform: translate(0, 0);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
  position: absolute;
}
.footer-button.open .menu a {
  /* 親の中央を基準にしたいなら、まずは transform: translate(-50%, -50%) を入れておく */
  transform: translate(-50%, -50%);
  opacity: 1;
}
.footer-button.open .menu a:nth-child(1) {
  transform: translate(-50%, -50%) translate(-80px, 0);
}
.footer-button.open .menu a:nth-child(2) {
  transform: translate(-50%, -50%) translate(-56.57px, -56.57px);
}
.footer-button.open .menu a:nth-child(3) {
  transform: translate(-50%, -50%) translate(0, -80px);
}
.footer-button.open .menu a:nth-child(4) {
  transform: translate(-50%, -50%) translate(56.57px, -56.57px);
}
.footer-button.open .menu a:nth-child(5) {
  transform: translate(-50%, -50%) translate(80px, 0);
}

.donate--button {
  width: 50%;
  margin: 0 auto;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.donate--button > * {
  flex: 1;
}
.donate--button input {
  width: 100%;
  background-color: white;
  padding: 16px;
  text-align: center;
  font-family: "brother-1816", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
}
.donate--button input::-moz-placeholder {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  font-weight: normal;
  transform: translateY(-10%);
}
.donate--button input::placeholder {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  font-weight: normal;
  transform: translateY(-10%);
}
.donate--button button {
  background-color: #2e2930;
  color: white;
  border: none;
  padding: 16px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 0.3s ease-in-out;
}
.donate--button button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e05c";
  transform: scaleX(-1);
}
.donate--button button::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e05c";
}
.donate--button button:hover {
  background-color: #7d6f83;
}
.donate--button button:disabled {
  background-color: #e8e8e8;
  cursor: not-allowed;
}

.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: clamp(4rem, 3.9346938776rem + 0.2040816327vw, 4.2rem);
}
.share-button .fa-twitter {
  cursor: pointer;
}

.tag-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.tag-links span {
  background-color: #e8e8e8;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
  cursor: pointer;
}

.fav-button button .fav {
  width: 16px;
  height: 16px;
}
.fav-button button .fav::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  color: gray;
}
.fav-button button .fav.active::before {
  color: rgb(233, 56, 86);
}

.posts--list .search {
  margin-bottom: 40px;
}
.posts--list .search input {
  width: 100%;
  background-color: white;
  padding: 16px;
}
.posts--list .filter {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.posts--list .filter .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.posts--list .filter .wrap span, .posts--list .filter .wrap button {
  background-color: white;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.posts--list .filter .wrap .selected {
  background-color: #e8e8e8;
}
.posts--list .area .box .tumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  max-width: 100%;
}
.posts--podcast .area {
  padding: 40px;
  background-color: white;
}
.posts--podcast .area h1 {
  text-align: center;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  font-weight: bold;
  margin-bottom: 16px;
}
.posts--podcast .area .contents iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.posts--default {
  padding: 16px 0px;
  padding-bottom: 80px;
}
.posts--default .wrap .area {
  height: 95vh;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  background-color: white;
  padding: 40px;
}
.posts--default .wrap .area h1 {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  font-weight: bold;
  display: block;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.posts--default .wrap .area .contents__story {
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 2;
  text-align: justify;
  -moz-column-count: 1;
       column-count: 1;
  white-space: pre-line;
  padding-left: 50%;
  /* 行：table-row */
}
.posts--default .wrap .area .contents__story h3 {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  margin-left: 16px;
}
.posts--default .wrap .area .contents__story .line {
  display: table-row;
  /* 役名セル（幅固定） */
  /* セリフ・ト書きセル */
}
.posts--default .wrap .area .contents__story .line > div {
  display: table-cell;
  vertical-align: top;
  padding: 0.5em;
}
.posts--default .wrap .area .contents__story .line .role {
  height: 70px;
}
.posts--default .wrap .area .contents__story .line .speech {
  /* 幅指定せず自動で可変 */
}
.posts--default .wrap .area .contents__story .line.blank {
  width: 1.5;
}
.posts--default .thumbnail {
  padding: 16px 0px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 96px;
}
.dashboard h4 {
  margin-bottom: 16px;
}
.dashboard .donate-stamp {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */